# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
*.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
.cache/
.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
www/
.DS_Store
Thumbs.db
functions/lib
